<% if (can? :manage, catalog) or (catalog.is_active and catalog.count_active_products > 0)  %>
<div class="column_catalog <%= !catalog.is_active ? 'not-active' : '' %>" id="<%= catalog.id %>">
    <div class="thumbnail catalog <%= (@catalog && @catalog.catalog_table) ? 'hidden' : '' %>">
      <% cache(catalog.id.to_s + 'div_image_thumb', expires_in: 12.hours) do %>
      <div class="cart-img">


        <% if catalog.image.exists? %>
            <%= link_to image_tag(catalog.image.url(:thumb), :alt => catalog.title, :class => 'catalog_img'), catalog %>
        <% else %>
            <%= link_to image_tag(catalog.image_thumb.url(:thumb), :alt => catalog.title, :class => 'catalog_img'), catalog %>
        <% end %>

      </div>
      <% end %>
      <div class="caption">
        <%= link_to catalog.title, catalog, :class => 'catalog_title' %>
        <% if can? :manage, catalog %>
            (<%= catalog.count_active_products %>)

                  <%= button_to "Изменить", edit_catalog_path(catalog),
                                :class => "btn btn-sm btn-primary", :method => :get %>
        <% end %>
      </div>
    </div>
  <tr class="tr catalog <%= (@catalog && @catalog.catalog_table) ? '' : 'hidden' %> <%= !catalog.is_active ? 'not-active' : '' %>">

    <% if can? :manage, catalog %>
        <td>

          <div class="checkbox">
            <label>
              <input type="checkbox"> Масс
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" <% if catalog.is_active_boolean %> checked <% end %> id="is_active_<%= catalog.id %>" onchange="changeFieldCatalog('is_active', <%= catalog.id %>);"> Акт
            </label>
          </div>
        </td>

        <script>
            $('#is_active_<%= catalog.id %>').attr("checked", <%= catalog.is_active_boolean %>);
        </script>

    <% end %>
    <% cache(catalog.id.to_s + 'td_image_thumb', expires_in: 12.hours) do %>
    <td>
      <% if !catalog.image_thumb.kind_of?(Array) %>
          <%= image_tag(catalog.image_thumb.url(:thumbnail), :alt => catalog.title, :class => 'catalog_img') %>
      <% else %>
          <%= image_tag(catalog.image.url(:thumbnail), :alt => catalog.title, :class => 'catalog_img') %>
      <% end %>
    </td>
    <% end %>
    <td>
        <%= link_to catalog.title, catalog, :class => 'catalog_title' %>
    </td>
    <td>
      <%= catalog.description %>
    </td>
    <td>

      <% if can? :manage, catalog %>
          <div class="btn-group-vertical" style="width: 75px;">
            <%= button_to "Изменить", edit_catalog_path(catalog),
                          :class => "btn btn-sm btn-primary", :method => :get %>

            <%= button_to "Удалить", catalog,
                          :class => "btn btn-sm btn-danger", :method => :delete, :data => { :confirm => 'Будут удалены все подкаталоги и товары в них. Вы уверены?' } %>

          </div>
        <% end %>
    </td>
  </tr>
</div>
<% end %>