<%= simple_form_for(@catalog) do |f| %>
  <% if @catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% @catalog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
        <div class="form-group">
          <%= f.label :title, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :title, :class => 'form-control' %>
          </div>
        </div>
    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
        <div class="form-group">
          <%= f.label :description, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_area :description, :class => 'form-control', :rows => 5, :cols => 120 %>
          </div>
        </div>
    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
        <div class="form-group">
          <%= f.label :keywords, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :keywords, :class => 'form-control' %>
          </div>
        </div>
    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
        <div class="form-group">
          <%= f.label :content, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_area :content, :class => "redactor", :rows => 10, :cols => 120 %>
          </div>
        </div>
    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
        <div class="form-group">
          <%= f.label :image, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= image_tag(@catalog.image.url(:thumb), :alt => @catalog.title, :class => 'product_img', :style => 'max-height: 150px;') %> <br>
            <%= f.file_field :image %>
          </div>
        </div>
    </div>

    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
      <div class="form-group">
        <%= f.label 'Родительский каталог', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.association :parent, :label => false %>
        </div>
      </div>

    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
      <div class="form-group">
        <%= f.label 'Дочерние каталоги в виде списка', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.input :catalog_table, :label => false %>
        </div>
      </div>

    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
      <div class="form-group">
        <%= f.label 'Дочерние продукты в виде списка', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.input :product_table, :label => false %>
        </div>
      </div>

    </div>
    <div class="clearfix" style="height: 10px;"></div>
    <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
          </div>
          <div class="actions col-sm-10">
            <%= f.submit :class => 'btn btn-info btn-block' %>
          </div>
        </div>
    </div>
<% end %>
