<%= title @catalog.title %>
<%= description @catalog.description %>
<%= keywords @catalog.keywords %>


<% if user_signed_in? && current_user.admin? %>
    <nav class="navbar-admin navbar-inverse-admin navbar-fixed-bottom" role="navigation"> <!-- navbar-fixed-top -->
      <nav class="navbar-admin navbar-admin" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-footer-menu hidden">

            <%= link_to 'Редактировать каталог', edit_catalog_path(@catalog), :class => 'navbar-brand' %>
            <%= link_to 'Удалить каталог', '#', :class => 'navbar-brand' %>
            <%= link_to 'New Email', new_catalog_path %>

            <%= link_to 'Добавить подкаталог', '#', :class => 'navbar-brand' %>
            <%= link_to 'Добавить товар', '#', :class => 'navbar-brand' %>
            <%= link_to 'Масс переместить в другой каталог', '#', :class => 'navbar-brand' %>

          </div>
        </div><!-- /.container-fluid -->
      </nav>
    </nav>
<% end %>



<div class="row">

  <div class="col-md-3 col-xs-3">
    <div class="panel panel-noborder left-menu"> <!-- Левое меню -->
      <%= render :template => "catalogs/left-menu" %>
    </div>
  </div>


  <div class="col-md-9 col-xs-9">
    <div class="panel panel-noborder">
      <ol class="breadcrumb left">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
        <!--<li><a href="#">Измерительная техника</a></li>
        <li class="active">Тепловизоры</li>-->
        <li class="active"><%= @catalog.title %></li>
      </ol>
      <% if can? :manage, @catalog %>
          <div class="clear"></div>
          <%= button_to "Изменить текущий каталог", edit_catalog_path(@catalog),
                    :class => "btn btn-sm btn-warning", :method => :get %>
      <% end %>
      <div class="clear"></div>

      <h1 class="title-catalog"><%= @catalog.title %></h1>


      <% if @catalog.children.size > 0 %>
        <div class="panel-body">

          <div class="btn-group right catalog-view-toggle" data-toggle="buttons">
            <label class="btn btn-default btn-sm <%= (@catalog.catalog_table) ? '' : 'active' %>">
              <input type="radio" name="options" id="option1">
              <span class="glyphicon glyphicon-th-large"></span>
            </label>
            <label class="btn btn-default btn-sm <%= (@catalog.catalog_table) ? 'active' : '' %>">
              <input type="radio" name="options" id="option3">
              <span class="glyphicon glyphicon-th-list"></span>
            </label>
          </div>

          <div class="clear" style="height: 10px"></div>

            <div class="row catalog-th-large">
              <table class="table table-striped table-product">
                <thead>
                <tr class="tr catalog <%= (@catalog.catalog_table) ? '' : 'hidden' %>">
                  <th></th>
                  <th>Наименование</th>
                  <th>Описание</th>
                </tr>
                </thead>
                <tbody>
                <%= render(@catalog.children) %>
                </tbody>
              </table>
            </div>

         </div>
      <% end %>

      <% if @catalog.product.size > 0 %>
        <div class="panel-body">
          <% if @price_max.present? %>
          <div class="btn-group right filtr-btns" data-toggle="buttons" style="margin-left: 25px;">
            <button type="button" class="btn btn-sm btn-default filtr-on-off" onclick="showFiltr();">Фильтр</button>

          </div>
          <div class="btn-group right product2-view-toggle" data-toggle="buttons">
            <label class="btn btn-default btn-sm <%= (@catalog.product_table) ? '' : 'active' %>">
              <input type="radio" name="options" id="option1">
              <span class="glyphicon glyphicon-th-large"></span>
            </label>
            <label class="btn btn-default btn-sm <%= (@catalog.product_table) ? 'active' : '' %>">
              <input type="radio" name="options" id="option3">
              <span class="glyphicon glyphicon-th-list"></span>
            </label>

          </div>
            <% end %>
          <div class="left">
            Сортировать по
            <% if params[:filtr_data].present? or params[:page].present? or params[:order].present? %>
                <% if params[:order].present? %>

                    <%
                       url = request.original_url

                       uri = URI(url)
                       params_ = CGI.parse(uri.query)
                       params_.delete('order')
                       uri.query = URI.encode_www_form(params_)

                       uri.to_s
                    %>

                    <% if params[:order] == 'title' %>
                        <%=link_to 'названию', request.original_url%>,
                        <%=link_to 'цене', uri.to_s+'&order=price'%>
                    <% else %>
                        <%=link_to 'названию', uri.to_s+'&order=title'%>,
                        <%=link_to 'цене', request.original_url%>
                    <% end %>
                <% else %>
                    <%=link_to 'названию', request.original_url+'&order=title'%>,
                    <%=link_to 'цене', request.original_url+'&order=price'%>
                <% end %>
            <% else %>
                <%=link_to 'названию', request.original_url+'?order=title'%>,
                <%=link_to 'цене', request.original_url+'?order=price'%>
            <% end %>
          </div>

          <div class="clear" style="height: 10px"></div>
          <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
          <div class="clear" style="height: 10px"></div>

          <div class="row product-th-large">
            <div class="col-md-12 col-xs-12 product-list" style="padding: 0 10px 0 0;">
                <table class="table table-striped table-product">
                  <tbody>
                    <%= render(@products) %>

                  </tbody>
                </table>
            </div>

            <form name="filtr" id="filtr">
              <input type="hidden" value="<%=@catalog.id%>" name="filtr_data[catalog_id]">
            <div class="col-md-4 col-xs-4 filt-product hidden" style="padding: 0 5px;">
              <% if @price_max.present? and @price_min.present? %>

              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12 col-xs-12">
                Цена:<br>

                <span style="float: left; color: #ccc; font-size: small;">
                  <span class="price"><%= number_to_ruble(@price_min)%></span>

                </span>
                  <div class="popover fade left in hidden popover_product_character" id="popover_product_character_0_price"
                       style="display: block; position: relative; float: left; margin-left: -245px; width: 200px;">
                    <div class="arrow"></div>
                    <h3 class="popover-title" style="display: none;"></h3>
                    <div class="popover-content" style="min-width: 200px;">Найдено <a href="#" class="count_find_filtr">5 позиций</a></div>
                  </div>
                  <div class="left" style="width: 100%" onmouseup="changeFiltr(0, 'price');">
                <input id="ex2" type="text" class="span2 slider" value=""
                       data-slider-tooltip="hide"
                       data-slider-min="<%=number_to_currency( @price_min, unit: '',  separator: "", delimiter: "", precision: 0)%>"
                       data-slider-max="<%= number_to_currency( @price_max, unit: '',  separator: "", delimiter: "", precision: 0)%>"
                       data-slider-step="<%= number_to_currency( (@price_max - @price_min) % 100, unit: '',  separator: "", delimiter: "", precision: 0)%>"
                       data-slider-value="[<%=number_to_currency( @price_filter_minimum.present? ? @price_filter_minimum : @price_min, unit: '',  separator: "", delimiter: "", precision: 0)%>,<%=number_to_currency( @price_filter_maximum.present? ? @price_filter_maximum : @price_max, unit: '',  separator: "", delimiter: "", precision: 0)%>]"/>
                </div>
                    <span style="float: right; color: #ccc; font-size: small;"><%= number_to_ruble(@price_max)%></span>
                </div>
              </div>
                <div class="row">
                  <div class="col-md-5 col-xs-5">
                    <input class="form-control input-sm" style="width: 100%" type="text" placeholder="Минимум" id="price_filter_minimum" name="filtr_data[price_filter_minimum]"
                           onchange="changeFiltr(0, 'price');"
                           value="<%=number_to_currency( @price_filter_minimum.present? ? @price_filter_minimum : @price_min, unit: '',  separator: "", delimiter: " ", precision: 0)%>">
                  </div>
                  <div class="col-md-2 col-xs-2"></div>
                  <div class="col-md-5 col-xs-5">
                    <input class="form-control input-sm" style="width: 100%" type="text" placeholder="Максимум" id="price_filter_maximum" name="filtr_data[price_filter_maximum]"
                           onchange="changeFiltr(0, 'price');"
                           value="<%= number_to_currency( @price_filter_maximum.present? ? @price_filter_maximum : @price_max, unit: '',  separator: "", delimiter: " ", precision: 0)%>">
                  </div>
                </div>
              <% end %>
                <hr>
              <% if @brands.size > 1 %>
                  <p>
                  Марка:<br>
                  <%= render :partial => 'brands/brand_filtr', :collection => @brands %>
                  </p>
                  <hr>
              <% end %>
              <%= render :partial => 'characters/character_filtr', :collection => @characters %>
            </div>
            </form>
          </div>

          <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
          <div class="clear" style="height: 10px"></div>
            <div class="content">
              <%= raw @catalog.content %>
            </div>
        </div>
      <% end %>

      <%= raw @catalog.content %>

      </div>
    </div>
</div>

<script>
    $("#ex2").slider({});
    var sliderPrice = $("#ex2").slider({
        formatter: function(value) {
            PriceFilterChange();
            return value;
        }
    }).data('slider');

    function PriceFilterChange() {
        $('#price_filter_minimum').val(formatMoney(sliderPrice.getValue()[0]));
        $('#price_filter_maximum').val(formatMoney(sliderPrice.getValue()[1]));
    }

  <% if params[:filtr_data].present? %>
    $('.filtr-on-off').click();
  <% end %>



</script>

<script>
  $('.checkbox_character').attr("checked", false);
<% if @filtr_data.present? and @filtr_data[:characters].present? %>
    <% @filtr_data[:characters].each {|index, item| %>
        <% if Character.find(index).character_type.type_filtr == 0
            item.each do |value| %>
            $('#checkbox_character_<%=value%>_<%=index%>').attr("checked", true);
            <% end
        end
    } %>
<% end %>
</script>
<%= render :template => "layouts/view-toggle" %>