<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= render :partial => 'user_fields', :locals => { :f => f } %>

    <div class="clear" style="height: 10px;"></div>
    <div class="row">
      <div class="form-group">
        <%= f.label 'Пароль', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <div class="clear" style="height: 10px;"></div>
    <div class="row">
      <div class="form-group">
        <%= f.label 'Повторите пароль', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-5">
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <div class="clear" style="height: 10px;"></div>
    <div class="row">
        <div class="form-group">
          <div class="actions col-sm-7">
            <%= f.submit 'Сохранить', :class => 'btn btn-success btn-block' %>
          </div>
        </div>
    </div>
<% end %>