<div class="row">
  <div class="col-sm-6">
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Способ доставки', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :delivery_type, Order::DELIVERY_TYPES,
                       {:prompt => 'Выберите способ доставки', :include_blank => false},
                       {:class => 'form-control input-sm', :onchange => 'set_delivery_type(this);'} %>
        </div>
      </div>
    </div><div class="clear" style="height: 10px;"></div>

<div class="row">
  <div class="form-group">
    <%= f.label 'Контактное лицо', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control', :placeholder => 'ФИО', :value => @user.present? ? @user.name : '' %>
    </div>
  </div>
</div><div class="clear" style="height: 10px;"></div>
<div class="row">
  <div class="form-group">
    <%= f.label 'Телефон', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :phone,
                       :class => 'form-control',
                       :placeholder => '+7 123 456-78-90',
                       :id => 'phone',
                       :value => @user.present? ? @user.phone : '',
                       :onchange => "$('#phone_yandex_market').val($(this).val().replace(/[ +-]/g, ''));"
      %>
    </div>
  </div>
</div><div class="clear" style="height: 10px;"></div>
<div class="row">
  <div class="form-group">
    <%= f.label 'Электропочта', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :email,
                       :class => 'form-control',
                       :placeholder => 'mail@yourmail.ru',
                       :value => @user.present? ? @user.email : '',
                       :onchange => "$('#email_yandex_market').val($(this).val());"
      %>
    </div>
  </div>
</div><div class="clear" style="height: 10px;"></div>
<div class="row">
  <div class="form-group">
    <%= f.label 'Адрес доставки', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :address, :class => 'form-control', :placeholder => 'Город, улица, дом, квартира', :rows => 5, :cols => 120, :value => @user.present? ? @user.address : '' %>
    </div>
  </div>
</div><div class="clear" style="height: 10px;"></div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Способ оплаты', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :pay_type, Order::PAYMENT_TYPES,
                       {prompt: 'Выберите способ оплаты', :include_blank => false},
                       {:class => 'form-control input-sm', :onchange => 'set_payment_type(this);'} %>
        </div>
      </div>
    </div>
    <div class="clear" style="height: 10px;"></div>
    <div class="row hidden" id="name_organization">
      <div class="form-group">
        <%= f.label 'Название организации', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :NameOrganization, :class => 'form-control', :placeholder => 'ООО Строитель' %>
        </div>
      </div>
    </div>

    <div class="clear" style="height: 10px;"></div>
    <div class="row hidden" id="inn_organization">
      <div class="form-group">
        <%= f.label 'ИНН организации', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :InnOrganization, :class => 'form-control', :placeholder => '7814556921' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Комментарий', :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :comment, :class => 'form-control', :placeholder => '', :rows => 5, :cols => 120 %>
        </div>
      </div>
    </div><div class="clear" style="height: 10px;"></div>
    <% if @user.nil? %>
    <div class="row">
      <div class="form-group">
        <div class="actions col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" checked name="registration" onchange="hidden_registration(this)"> Зарегистрироваться и сохранить данные для последующих заказов
            </label>
          </div>
        </div>
      </div>
    </div><div class="clear" style="height: 10px;"></div>

    <div class="registration">
        <div class="row">
          <div class="form-group">
            <div class="actions col-sm-6">
              <input type="password" placeholder="Пароль" name="user[password]" id="user_password" class="form-control">
              </div>
            </div>
          </div><div class="clear" style="height: 10px;"></div>
        <div class="row">
          <div class="form-group">
            <div class="actions col-sm-6">
              <input type="password" placeholder="Повторите пароль" name="user[password_confirmation]" id="user_password_confirmation" class="form-control">
            </div>
          </div>
        </div><div class="clear" style="height: 10px;"></div>
    </div>
        <% end %>
    <div class="row" id="submit_form">
      <div class="form-group">
        <div class="actions col-sm-12">
          <%= f.submit 'Подтвердить заказ', :class => 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>

<% end %>

    <form action="https://money.yandex.ru/eshop.xml" method="post">
      <!-- Обязательные поля -->
      <input name="shopId" value="29313" type="hidden"/>
      <input name="scid" value="4321" type="hidden"/>
      <input name="sum" value="100.50" type="hidden" id="sum_yandex_market">
      <input name="customerNumber" value="abc000" type="hidden"/>

      <!-- Необязательные поля -->
      <!--<input name="shopArticleId" value="567890" type="hidden"/>-->
      <input name="paymentType" value="AC" type="hidden"/>
      <!--<input name="orderNumber" value="abc1111111" type="hidden"/>-->
      <input name="cps_phone" value="79110000000" type="hidden" id="phone_yandex_market" />
      <input name="cps_email" value="user@domain.com" type="hidden" id="email_yandex_market" />
     <div class="row hidden" id="submit_yandex_market">
      <div class="form-group">
        <div class="actions col-sm-12">
          <input class="btn btn-info btn-block" name="commit" type="submit" value="Перейти к оплате">
        </div>
      </div>
      </div>
    </form>

    </div>
  <div class="col-sm-6" id="order_cart">
  <%= render :partial => 'carts/cart_order', :object => @cart %>
  </div>
</div>