<p>
  <b>Контактное лицо:</b> <%= order.name %>
</p>
<p>
  <b>Телефон:</b> <%= order.phone %>
</p>
<p>
  <b>Электропочта:</b> <%= mail_to order.email %>
</p>
<p>
  <b>Адрес:</b><br>
  <%= order.address %>
</p>
<p>
  <b>Способ оплаты:</b> <%= order.pay_type %>
</p>
<p>
  <b>Способ доставки:</b> <%= order.delivery_type %>
</p>
<p>
  <b>Комментарий:</b><br>
  <%= order.comment %>
</p>