<p>
  <b>Контактное лицо:</b> <%= order.name %>
</p>
<p>
  <b>Телефон:</b> <%= order.phone %>
</p>
<p>
  <b>Электропочта:</b> <%= mail_to order.email %>
</p>
<p>
  <b>Адрес:</b><br>
  <%= order.address %>
</p>
<p>
  <b>Способ оплаты:</b> <%= order.pay_type %>
</p>
<% if order.NameOrganization.present? %>
    <p>
      <b>Название организации:</b><br>
      <%= order.NameOrganization %>
    </p>
<% end %>
<% if order.InnOrganization %>
    <p>
      <b>ИНН организации:</b><br>
      <%= order.InnOrganization %>
    </p>
<% end %>
<p>
  <b>Способ доставки:</b> <%= order.delivery_type %>
</p>
<% if order.comment.present? %>
    <p>
      <b>Комментарий:</b><br>
      <%= order.comment %>
    </p>
<% end %>