<h1>Заказ №<%=@order.id %></h1>

<% if @order.line_items_in_stock.size > 0 %>
<h2>В наличии:</h2>
<table class="table table-striped table-hover" style="width: 100%">
  <tr>
    <th>
      Артикул
    </th>
    <th>
      Название
    </th>
    <th>
      Количество
    </th>
    <th>
      Цена
    </th>
    <th>
      Сумма
    </th>
  </tr>
  <%= render :partial => 'line_items/line_item_mailer', :collection => @order.line_items_in_stock %>
</table>
<hr>
<span style="text-align: right; width: 100%; float: right">
  <h2>Итого: <%= number_to_ruble(@order.total_price_in_stock)%></h2>
</span>
<% end %>
<% if @order.line_items_not_available.size > 0 %>
<h2>Под заказ:</h2>
    <table class="table table-striped table-hover" style="width: 100%">
      <tr>
        <th>
          Артикул
        </th>
        <th>
          Название
        </th>
        <th>
          Количество
        </th>
        <th>
          Цена
        </th>
        <th>
          Сумма
        </th>
      </tr>
      <%= render :partial => 'line_items/line_item_mailer', :collection => @order.line_items_not_available %>
    </table>
    <hr>
    <span style="text-align: right; width: 100%; float: right">
  <h2>Итого: <%= number_to_ruble(@order.total_price_not_available)%></h2>
</span>
<% end %>
<hr>

<%= render @order %>

<% if can? :manage, @order %>
<%= link_to 'К списку заказов', orders_path %>
<% end %>