<h1>Заказ №<%=@order.id %></h1>

<% if @order.line_items_in_stock.size > 0 %>
<h2>В наличии:</h2>
<table class="table table-striped table-hover" style="width: 100%">
  <tr>
    <th>
      Артикул
    </th>
    <th>
      Название
    </th>
    <th>
      Количество
    </th>
    <th>
      Цена
    </th>
    <th>
      Сумма
    </th>
  </tr>
  <%= render :partial => 'line_items/line_item_mailer', :collection => @order.line_items_in_stock %>
</table>
<hr>
<span style="text-align: right; width: 100%; float: right">
  <h2>Итого: <%= number_to_ruble(@order.total_price_in_stock)%></h2>
</span>
<% end %>
<% if @order.line_items_not_available.size > 0 %>
<h2>Под заказ:</h2>
    <table class="table table-striped table-hover" style="width: 100%">
      <tr>
        <th>
          Артикул
        </th>
        <th>
          Название
        </th>
        <th>
          Количество
        </th>
        <th>
          Цена
        </th>
        <th>
          Сумма
        </th>
      </tr>
      <%= render :partial => 'line_items/line_item_mailer', :collection => @order.line_items_not_available %>
    </table>
    <hr>
    <span style="text-align: right; width: 100%; float: right">
  <h2>Итого: <%= number_to_ruble(@order.total_price_not_available)%></h2>
</span>
<% end %>
<hr>
<% if (@order.status < 2) and ( @order.total_price_in_stock > 0 )
        ( ( params[:secret_code].present? and ( ( params[:secret_code] == @order.secret_code  ))) or
                ( current_user == @order.user ) ) %>
<form action="https://money.yandex.ru/eshop.xml" method="post">
  <!-- Обязательные поля -->
  <input name="shopId" value="29313" type="hidden"/>
  <input name="scid" value="19570" type="hidden"/>
  <input name="sum" value="<%= @order.total_price_in_stock.to_s %>" type="hidden" id="sum_yandex_market">
  <input name="customerNumber" value="<%= current_user.present? ? 'u' + current_user.id.to_s : 'o' + @order.id.to_s %>" type="hidden"/>

  <!-- Необязательные поля -->
  <!--<input name="shopArticleId" value="567890" type="hidden"/>-->
  <input name="paymentType" value="AC" type="hidden"/>
  <input name="orderNumber" value="<%=  @order.id.to_s %>" type="hidden"/>
  <input name="cps_phone" value="<%= @order.phone.gsub(" ", "").gsub("+", "").gsub("-", "")  %>" type="hidden" id="phone_yandex_market" />
  <input name="cps_email" value="<%= @order.email %>" type="hidden" id="email_yandex_market" />
  <div class="row" id="submit_yandex_market">
    <div class="form-group">
      <div class="actions col-sm-12">
        <input class="btn btn-success btn-block" name="commit" type="submit" value="Перейти к оплате">
      </div>
    </div>
  </div>
</form>
<% end %>

<%= render @order %>

<% if can? :manage, @order %>
<%= link_to 'К списку заказов', orders_path %>
<% end %>