<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Корзина</h4>
</div>
<div class="modal-body">
  <% if cart.line_items_in_stock.size > 0 %>
      <table class="table table-striped table-product">
        <thead>
        <tr>
          <th></th>
          <th>Артикул</th>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Сумма</th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        <%#= render(cart.line_items) %>
        <%= render( :partial => 'line_items/line_item', :collection =>  cart.line_items_in_stock) %>

        <script>
          changeCountCart(<%=cart.line_items.size%>);
        </script>

        </tbody>
      </table>

  <div id="total_bascet" class="right">Итого: <span class="price"><%= number_to_ruble(cart.total_price_in_stock).to_s %></span></div>
  <% end %>
  <% if cart.line_items_not_available.size > 0 %>
      <div class="clear"></div>

      <h4>Под заказ:</h4>

      <table class="table table-striped table-product">
        <thead>
        <tr>
          <th></th>
          <th>Артикул</th>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Сумма</th>
          <th></th>
        </tr>
        </thead>

        <tbody>

        <%= render(cart.line_items_not_available) %>

        </tbody>
      </table>

      <div id="total_bascet_order" class="right">Итого: <span class="price"><%= number_to_ruble(cart.total_price_not_available).to_s %></span></div>
  <% end %>
  <script>
      console.log('_cart');
      changeCountCart(<%=cart.line_items.size%>);
      $('#sum_yandex_market').val('<%= cart.total_price_in_stock %>');
  </script>
</div>
<div class="modal-footer">

  <%= button_to 'Очистить корзину', cart, :remote=>true, method: :delete,  class: 'clear_cart hidden',
                data: { confirm: 'Вы уверены?'} %>

  <%= button_to "Оформить заказ", new_order_path, method: :get,  class: 'checkout hidden' %>

  <button type="button" class="btn btn-default" onclick="$('.clear_cart').click();">Очистить корзину</button>

  <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>

  <button type="button" class="btn btn-primary" onclick="$('.checkout').click();">Оформить заказ</button>

</div>
<script>
<% if cart.line_items.size > 0 %>
    $('#cart').show();
    $('.button_cart').removeClass('disabled').attr({'data-target': '#bascet',
        'data-toggle': 'modal',
        'data-placement': '',
        'title': ''
    });
<% else %>
    $('#cart').hide();
    $('.button_cart').addClass('disabled').attr({'data-target': '',
        'data-toggle': '',
        'data-placement': 'bottom',
        'title': 'Добавьте товар в корзину'
    });
//data-placement="bottom" title="Tooltip on bottom"
<% end %>
</script>