<%= simple_form_for(@product, :html => {:class => 'form-horizontal', :multipart => :true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label 'Арктикул', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :article, :required => true, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Заголовок', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Краткое описание', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_area :description, :class => 'form-control', :rows => 5, :cols => 120 %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Подробное описание', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_area :content, :class => "redactor", :rows => 10, :cols => 120 %>
  </div>
</div>

<div class="form-group">
    <%= f.label 'Картинка', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
        <%= image_tag(@product.image.url(:thumb), :alt => @product.title, :class => 'product_img', :style => 'max-height: 150px;') %> <br>
        <%= f.file_field :image %>
    </div>
</div>

<div class="form-group">
  <%= f.label 'Цена', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Каталог', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.association :catalog, collection: Catalog.order('title ASC'), :label => false %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Марка', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.association :brand, collection: Brand.order('title ASC'), :label => false, :include_blank => false, :prompt => "", :selected => @product.brand.nil? ? @product.potential_brand : @product.brand.id %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :brand, :class => 'form-control', :placeholder => 'Новая марка', :value => '' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Характеристики', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <% @product.characters.each do |character| %>
        <fieldset>
          <div class="row">
            <div class="col-sm-5">
              <input type="text" placeholder="Название" name="product[characters][<%=character.id %>][name]" id="product_characters_name" class="form-control" value="<%=character.name%>">
            </div>
            <div class="col-sm-5">
              <input type="text" placeholder="Значение" name="product[characters][<%=character.id %>][value]" id="product_characters_value" class="form-control" value="<%=character.value%>">
            </div>
            <div class="col-sm-2">
              <input type="hidden" name="product[characters][[<%=character.id %>]_destroy]" id="product_characters_[<%=character.id %>]_destroy">
              <button type="button" class="btn btn-sm btn-danger remove_fields">
                <i class="icon-trash icon-white"></i>
                <span>Удалить</span>
              </button>
            </div>
          </div>
          <br>
        </fieldset>
    <% end %>
    <%= f.fields_for :characters do |a| %>
        <%= render 'character_fields', :f => a %>
    <% end %>

    <div class="add"><%= link_to_add_fields 'Добавить еще характеристику', f, :characters %></div>
  </div>

</div>

<div class="form-group">
  <div class="col-sm-2">
  </div>
  <div class="actions col-sm-10">
    <%= f.submit :class => 'btn btn-info btn-block' %>
  </div>
</div>

<% end %>

<hr>

<% if @product.title.present? %>
<%= form_for ProductImg.new, :html => { :multipart => true, :id => "fileupload" } do |f| %>
    <div class="form-group">
      <%= f.hidden_field :product, :value => @product.id %>
      <%= f.label 'Картинки', :class => 'col-sm-2 control-label', :style => 'text-align: right;' %>
      <div class="actions col-sm-10">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
          <div class="span7">
            <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>Добавить</span>
                  <%= f.file_field :picture %>
                </span>
            <button type="submit" class="btn btn-primary start">
              <i class="icon-upload icon-white"></i>
              <span>Загрузить</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
              <i class="icon-ban-circle icon-white"></i>
              <span>Отменить загрузку</span>
            </button>
            <button type="button" class="btn btn-danger delete">
              <i class="icon-trash icon-white"></i>
              <span>Удалить</span>
            </button>
            <input type="checkbox" class="toggle">
          </div>
          <div class="span5">
            <!-- The global progress bar -->
            <div class="progress progress-success progress-striped active fade">
              <div class="bar" style="width:0%;"></div>
            </div>
          </div>
        </div>
        <!-- The loading indicator is shown during image processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>
    <% end %>

  </div>


</div>



    <!-- The template to display files available for upload -->
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>

<script>

    $(function () {
        'use strict';
// Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload();
// Enable iframe cross-domain access via redirect option:
        $('#fileupload').fileupload(
                'option',
                'redirect',
                window.location.href.replace(
                        /\/[^\/]*$/,
                        '/cors/result.html?%s'
                )
        );
        $('#fileupload').fileupload('option', {
            maxFileSize:10000000,
            acceptFileTypes:/(\.|\/)(gif|jpe?g|png)$/i,
            sequentialUploads: true,
            process:[
                {
                    action:'load',
                    fileTypes:/^image\/(gif|jpeg|png)$/,
                    maxFileSize:20000000 // 20MB
                },
                {
                    action:'resize',
                    maxWidth:1000,
                    maxHeight:1000
                },
                {
                    action:'save'
                }
            ]
        });

        $.getJSON($('#fileupload').prop('action') + '?product=<%=@product.id%>', function (files) {
            var fu = $('#fileupload').data('blueimp-fileupload'),
                    template;
            fu._adjustMaxNumberOfFiles(-files.length);
            template = fu._renderDownload(files)
                    .appendTo($('#fileupload .files'));
            // Force reflow:
            fu._reflow = fu._transition && template.length &&
                    template[0].offsetWidth;
            template.addClass('in');
            $('#loading').remove();
        });

    });



</script>

<% end %>