<%= form_for(@product, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label 'Арктикул', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :article, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Заголовок', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Краткое описание', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_area :description, :class => 'form-control', :rows => 10, :cols => 120 %>
  </div>
</div>

<div class="form-group">
    <%= f.label 'Картинка', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
        <%= image_tag(@product.image.url(:thumb), :alt => @product.title, :class => 'product_img', :style => 'max-height: 150px;') %> <br>
        <%= f.file_field :image %>
    </div>
</div>

<div class="form-group">
  <%= f.label 'Цена', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
</div>

    <div class="field">
      <%= f.label :catalog_id %><br>
      <%= f.number_field :catalog_id %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
