<% if (user_signed_in? && current_user.admin?) || product.is_active %>
<div class="col-sm-4 col-md-4" id="<%= product.article %>">
    <div class="thumbnail product <%= (@catalog && @catalog.product_table) ? 'hidden' : '' %>">
      <div class="cart-img">
        <%= image_tag(product.image.url(:thumb), :alt => product.title, :class => 'product_img') %>
      </div>
      <div class="caption">
        <%= link_to product.title, product, :class => 'product_title' %>
        <p class="product_article">арт. <%= product.article %></p>
        <p class="product_price">
          <%= raw (product.old_price) ? "<del>" + product.old_price.to_s + '<span class="ruble">a</span>' +  "</del>" : '' %>
          <span class="price"><%= product.price %><span class="ruble">a</span></span>
          <button type="button" class="btn btn-success buy"  data-toggle="modal" data-target="#addToBascet" onclick="showAddToBascet('<%= product.article %>');">Купить</button>
        <div class="product_form_buy hidden">
          <%= form_for(@line_item, url:line_items_path(product_id:product), :remote=>true, :html => {:class => 'form_' + product.article}) do |f| %>
              <%= f.text_field :quantity, :class => 'quantity_' + product.article %>
              <%= f.submit %>
          <% end %>
        </div>
        </p>
      </div>
    </div>

  <tr class="tr product <%= (@catalog && @catalog.product_table) ? '' : 'hidden' %>">

    <% if (user_signed_in? && current_user.admin?) %>
    <td>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Масс
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Акт
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Янд.Марк
        </label>
      </div>
    </td>
    <% end %>

    <td>
      <%= image_tag(product.image.url(:thumbnail), :alt => product.title, :class => 'product_img', :style => 'max-height: 50px') %>
    </td>
    <td><%= product.article %></td>
    <td><%= link_to product.title, product, :class => 'product_title' %></td>
    <td>
      <%= raw (product.old_price) ? "<del>" + product.old_price.to_s + '<span class="ruble">a</span>' + "</del>" : '' %>
      <%= product.price %><span class="ruble">a</span>
    </td>
    <td>

      <% if (user_signed_in? && current_user.admin?) %>
          <div class="btn-group-vertical" style="width: 75px;">
              <button type="button" class="btn btn-sm btn-success buy"  data-toggle="modal" data-target="#addToBascet" onclick="showAddToBascet('<%= product.article %>');">Купить</button>
              <button type="button" class="btn btn-sm btn-primary">Изменить</button>
              <button type="button" class="btn btn-sm btn-danger">Удалить</button>
          </div>
      <% else %>
          <button type="button" class="btn btn-sm btn-success buy"  data-toggle="modal" data-target="#addToBascet" onclick="showAddToBascet('<%= product.article %>');">Купить</button>
      <% end %>
    </td>
  </tr>
</div>
<% end %>