<tr>
  <td>
    <% if search.image.present? or search.imgs.size == 0 %>
        <%= image_tag(search.image.url(:thumb), :alt => search.title, :class => 'product_img', :style => 'max-height: 30px; max-width: 30px;') %>
    <% elsif !search.image.present? and search.imgs.size > 0 %>
        <%= image_tag(search.imgs.first.picture.url(:thumb), :alt => search.title, :class => 'product_img', :style => 'max-height: 30px; max-width: 30px;') %>
    <% end %>
  </td>
  <td>
    <%= link_to search.title, search %>
  </td>
  <td>
    <span class="price"><%= number_to_currency(search.price, unit: '',  separator: ",", delimiter: " ", precision: 0)%><span class="ruble">a</span></span>
  </td>
  <td>
    <div class="btn-group-vertical" role="group" style="width: 70px;">
        <button type="button" class="btn btn-sm btn-primary compare" onclick="addToCompare('<%= search.id %>');">Сравнить</button>
        <% if search.quantity > 0 %>
            <button type="button" class="btn btn-sm btn-success buy"  data-toggle="modal" data-target="#addToBascet" onclick="showAddToBascet('<%= search.id %>');">Купить</button>
        <% else %>
          <button type="button"
                  class="btn btn-sm btn-warning buy"
                  data-toggle="modal"
                  data-target="#addToBascet"
                  onclick="showAddToBascet('<%= search.id %>');"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="К сожалению нет в наличии, добавьте в корзину, и мы сообщим вам когда появится или предложим альтернативы"
          >Под заказ</button>
        <% end %>
    </div>
  </td>
</tr>