<h1>Названия продуктов</h1>

<table class="table table-striped table-hover">
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.id %>
      </td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Название" id="product_title_<%= product.id %>" value="">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="rename_title(<%= product.id %>, $('#product_title_<%= product.id %>').val());">Переименовать!</button>
              </span>
        </div>
        <script>
            $('#product_title_<%= product.id %>').val('<%= product.title %>');
        </script>

        <hr>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Характеристики" id="product_brief_characteristics_<%= product.id %>" value="">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="rename_brief_characteristics(<%= product.id %>, $('#product_brief_characteristics_<%= product.id %>').val());">Переименовать!</button>
              </span>
        </div>
        <script>
            $('#product_brief_characteristics_<%= product.id %>').val('<%= product.brief_characteristics %>');
        </script>

      </td>
      <td style="width: 400px;">
        <%= link_to product.title_normal, product %> <br>
        <b><%= raw product.title %></b>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>