<%= title @product.title_normal %>
<%= description @product.description %>
<%= keywords @product.keywords %>

<%= stylesheet_link_tag "//blueimp.github.io/Gallery/css/blueimp-gallery.min.css", :media => "all" %>
<%= javascript_include_tag "//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" %>

<div class="row">
  <div class="col-md-9 col-xs-9">
    <div class="panel panel-noborder">
      <ol class="breadcrumb left">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
        <!--<li><a href="#">Измерительная техника</a></li>
        <li class="active">Тепловизоры</li>-->
        <li class="active"><%= @product.title_normal %></li>
      </ol>

      <div class="clear"></div>
      <h1 class="title-product"><%= @product.title_normal %> <small style="white-space: nowrap;">арт. <%= @product.art %></small></h1>
      <div class="clear" style="height: 10px"></div>
      <div class="content">
        <%= raw @product.content %>


      <div class="row">

        <% if @product.description.present? %>
            <div class="col-md-6 col-xs-6">
              <div class="panel-body">
              <%= @product.description %>
                </div>
            </div>
        <% end %>

        <% if @product.characters.size > 0 %>
        <div class="col-md-6 col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">Характеристики</div>
            <!-- Table -->
            <table  class="table table-striped">
              <% @product.characters.each do |character| %>
              <tr>
                <td>
                  <%= character.name %>
                </td>
                <td>
                  <%= character.value %>
                </td>
              </tr>
              <% end %>
            </table>

          </div>
        </div>
        <% end %>
        <% if @product.detailing.size > 0 or @product.details.size > 0 %>
        <div class="col-md-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">Деталировка</div>
            <div class="panel-body">
              <div class="col-md-4 col-xs-4">
                <% @product.detailing.each do |detailing| %>
                    <% if detailing.image.present? %>
                        <a href='<%= detailing.image.url(:original) %>' title="Деталировка" data-gallery>
                          <%= image_tag(detailing.image.url(:medium), :alt => 'Деталировка', :class => 'detailing_img', :style => 'max-width: 180px; margin: 0 auto;') %>
                        </a>
                    <% end %>
                    <div class="clearfix"></div>
                    <% if detailing.pdf.present? %>
                        <%= link_to 'Загрузить pdf', '', :class => 'detailing_pdf', :href => detailing.pdf %>
                    <% end %>
                <% end %>
              </div>
              <div class="col-md-8 col-xs-8">
                <% if  @product.details.size > 0 %>
                    <h4>Запчасти:</h4>
                    <table class="table table-striped">
                      <thead>
                        <th>Позиция</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th></th>
                      </thead>
                      <tbody>
                    <% @product.details.each do |detail| %>
                        <tr>
                        <td>
                          <%= detail.position_detail %>
                        </td>
                        <td>
                          <%= link_to detail.product.title_normal, detail.product %>
                        </td>
                          <td style="white-space: nowrap"><span class="price"><%= number_to_ruble(detail.product.price_with_margin current_user)%></span></td>
                          <td><button onclick="showAddToBascet('<%=detail.product.id %>>');" data-target="#addToBascet" data-toggle="modal" style="width: 100%; min-width: 60px;" class="btn btn-xs btn-info buy" type="button">Заказать</button></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <% end %>
                <% @product.details.each do |detail| %>
                    <div class="hidden">
                      <%= render detail.product %>
                    </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
        <% end %>

      </div>


    </div>
  </div>
  </div>
  <div class="col-md-3 col-xs-3">
    <div class="panel panel-noborder">
      <% if @product.image.present? or @product.imgs.size == 0 %>
        <%= image_tag(@product.image.url(:thumb), :alt => @product.title_normal, :class => 'product_img', :style => 'max-height: 150px') %>
      <% end %>
      <div class="clear" style="height: 25px;"></div>

      <div id="links1">
        <% @product.imgs.each do |image| %>
            <a href='<%= image.picture.url(:original) %>' title="<%= @product.title_normal %>" data-gallery>
              <%= image_tag(image.picture.url(:thumbnail), :alt => @product.title_normal, :class => 'product_img', :style => 'max-height: 50px') %>
            </a>
        <% end %>
      </div>

      <div class="clear" style="height: 25px;"></div>
      <h3>
          <%= raw (@product.old_price) ? "<del>" + number_to_ruble(@product.price_with_margin current_user) + "</del>" : '' %>
            <%= number_to_ruble(@product.price_with_margin current_user)%>
      </h3>
      <div class="clear" style="height: 5px;"></div>


      <div class="btn-group" style="width: 100%;">
        <% if @product.quantity > 0 %>
            <button type="button"
                    class="btn btn-lg btn-success buy"
                    style="width: 55%;"
                    data-toggle="modal"
                    data-target="#addToBascet"
                    onclick="showAddToBascet('<%= @product.id %>');"
            >Купить</button>



        <% else %>
            <button type="button"
                    class="btn btn-lg btn-warning buy"
                    style="width: 55%;"
                    data-toggle="modal"
                    data-target="#addToBascet"
                    onclick="showAddToBascet('<%= @product.id %>');"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="К сожалению нет в наличии, добавьте в корзину, и мы сообщим вам когда появится или предложим альтернативы"
            >Заказать</button>
        <% end %>
        <button type="button"
                class="btn btn-lg btn-primary compare"
                onclick="addToCompare('<%= @product.id %>');"
                style="width: 45%; padding-left: 5px;">Сравнить</button>
      </div>

      <% if @product.quantity > 0 %>
          <div class="clear"></div>
          <span data-toggle="tooltip"
                data-placement="bottom"
                title="Все сроки требуют уточнения"
                style="font-size: smaller; color: #64c564; cursor: help; display: block; margin-top: 0; position: relative"
          >
                <%= raw Order.when_the_delivery Date.today %>
          </span>
      <% end %>

      <% if can? :update, @product %>
          <div class="clearfix" style="height: 5px;"></div>
          <div class="btn-group-vertical" style="width: 100%;">
            <%= button_to "Изменить", edit_product_path(@product),
                          :class => "btn btn-sm btn-primary", :method => :get, :style => 'width: 100%' %>

            <%= button_to "Удалить", @product,
                          :class => "btn btn-sm btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, :style => 'width: 100%' %>

          </div>
      <% end %>

    </div>
  </div>
</div>

<div class="hidden">
  <%= render(@product) %>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :template => "layouts/view-toggle" %>