<% if line_item.product.present? %>
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td>

        <%= image_tag(line_item.product.image.url(:thumbnail), :alt => line_item.product.title, :style => 'max-height: 50px') %>


    <%= form_for(line_item, :url => {:controller => 'line_items', :action => 'update', id: line_item}, :remote=>true, :html => {:class => 'hidden form_edit_' + line_item.product.article}) do |f| %>
        <%= f.text_field :quantity, :class => 'quantity_' + line_item.product.article%>
        <%= f.submit %>
    <% end %>

  </td>
  <td><%= line_item.product.article %></td>
  <td><%= line_item.product.title %></td>
  <td><input class="form-control input-sm" type="text" value="<%= line_item.quantity %>" article="<%= line_item.product.article %>" onchange="changeCountItemCart(this);"></td>
  <td class="price"><%= line_item.product.price %> <span class="ruble">a</span></td>
  <td class="price"><%= line_item.total_price %><span class="ruble">a</span></td>
  <td>
    <a article="<%= line_item.product.article %>" onclick="destroyItemCart(this);"><span class="glyphicon glyphicon-remove"></span></a>
    <%= button_to 'Delete Line Item', line_item, :method => :delete, :remote=>true, :confirm => 'Вы уверены?', :class => 'hidden button_destroy_' + line_item.product.article %>

  </td>
</tr>
<% end %>