<% if line_item.product.present? %>
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td>

    <% if line_item.product.image.present? or line_item.product.imgs.size == 0 %>
        <%= image_tag(line_item.product.image.url(:thumb), :alt => line_item.product.title, :style => 'max-height: 50px') %>
    <% elsif !line_item.product.image.present? and line_item.product.imgs.size > 0 %>
        <%= image_tag(line_item.product.imgs.first.picture.url(:thumb), :alt => line_item.product.title, :style => 'max-height: 50px') %>
    <% end %>



    <%= form_for(line_item, :url => {:controller => '/line_items', :action => 'update', id: line_item}, :remote=>true, :html => {:class => 'hidden form_edit_' + line_item.product.article.gsub('(', '_').gsub(')', '_').gsub('-', '_').gsub('.', '_') }) do |f| %>
        <%= f.text_field :quantity, :class => 'quantity_' + line_item.product.article.gsub('(', '_').gsub(')', '_').gsub('-', '_').gsub('.', '_')%>
        <%= f.submit %>
    <% end %>

    <%= link_to("Destroy", line_item, :method => :delete, :remote => true, :class => 'hidden link_destroy_' + line_item.product.id.to_s) %>
    <%= link_to("Destroy", line_item, :method => :delete, :remote => true, :class => 'hidden link_confirm_destroy_' + line_item.product.id.to_s, :confirm => 'Вы уверены?') %>
  </td>
  <td><%= line_item.product.art %></td>
  <td><%= link_to line_item.product.title, line_item.product %></td>
  <td><input class="form-control input-sm" type="text" value="<%= line_item.quantity %>" article="<%= line_item.product.article.gsub('(', '_').gsub(')', '_').gsub('-', '_').gsub('.', '_') %>" onchange="changeCountItemCart(this);"></td>
  <td class="price">
    <span class="price"><%= number_to_ruble(line_item.price)%></span>
  </td>
  <td class="price">
    <span class="price"><%= number_to_ruble(line_item.total_price)%></span>
  </td>
  <td>
    <a article="<%= line_item.product.article.gsub('(', '_').gsub(')', '_').gsub('-', '_').gsub('.', '_') %>" onclick="$('.link_confirm_destroy_<%=line_item.product.id.to_s%>').first().click();"><span class="glyphicon glyphicon-remove"></span></a>
    <% if line_item.cart.present? %>
        <%= button_to 'Delete Line Item', line_item, :method => :delete, :remote=>true, :confirm => 'Вы уверены?', :class => 'hidden button_destroy_' + line_item.product.article %>
    <% end %>
  </td>
</tr>
<% end %>