

  <div id="carousel-main-page" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% i = 0 %>
      <% @sliders.each do |slider| %>
      <li data-target="#carousel-main-page" data-slide-to="<%=i%>" <% if i == 0 %> class="active" <% end %>></li>
          <% i = i + 1 %>
      <% end %>
    </ol>

    <% if @sliders.size > 0 %>
        <!-- Wrapper for slides -->
        <div class="carousel-inner big">
          <% @sliders.each do |slider| %>
          <div class="item <% if @sliders.first == slider %> active <% end %>">
            <% if slider.link.present? %>
                <%= link_to (image_tag(slider.image.url(:medium), :alt => slider.title)), slider.link %>
            <% elsif slider.news.present? %>
                <%= link_to (image_tag(slider.image.url(:medium), :alt => slider.title)), slider.news %>
            <% elsif slider.product.present? %>
                <%= link_to (image_tag(slider.image.url(:medium), :alt => slider.title)), slider.product %>
            <% elsif slider.catalog.present? %>
                <%= link_to (image_tag(slider.image.url(:medium), :alt => slider.title)), slider.catalog %>
            <% else %>
                <%= image_tag(slider.image.url(:medium), :alt => slider.title) %>
            <% end %>
            <div class="carousel-caption">
                   <span>
                        <%= raw slider.title %>
                   </span>
            </div>
          </div>
          <% end %>
        </div>
    <% end %>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-main-page" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-main-page" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class="row">

    <div class="col-md-3 col-xs-3">
      <div class="panel panel-noborder left-menu"> <!-- Левое меню -->
        <%= render :template => "catalogs/left-menu" %>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="panel panel-noborder">

        <div class="panel-body">

          <h4>Рекомендуем:</h4>

              <div class="btn-group right product2-view-toggle" data-toggle="buttons">
                <label class="btn btn-default btn-sm active">
                  <input type="radio" name="options" id="option1">
                  <span class="glyphicon glyphicon-th-large"></span>
                </label>
                <label class="btn btn-default btn-sm">
                  <input type="radio" name="options" id="option3">
                  <span class="glyphicon glyphicon-th-list"></span>
                </label>
              </div>

              <div class="clear" style="height: 10px"></div>

              <div class="row product-th-large">
                <table class="table table-striped table-product">

                  <tbody>
                  <%= render(@recommendation_products) %>
                  </tbody>
                </table>
              </div>

    <div class="clear"></div>



        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-3">
      <div class="panel panel-noborder">
        <div class="panel-heading">
          <h3> <%= link_to 'Новости', news_index_path %></h3>

          <span class="toggle-news-types label label-primary" onclick="
                $('.toggle-news-types').removeClass('label-default');
                $('.toggle-news-types').removeClass('label-primary');
                $('.toggle-news-types').addClass('label-default');
                $(this).addClass('label-primary');
                $('.media.video').removeClass('hidden');
                $('.media.blog').removeClass('hidden');
          ">Все</span>
          <span class="toggle-news-types label label-default" onclick="
                  $('.toggle-news-types').removeClass('label-default');
                  $('.toggle-news-types').removeClass('label-primary');
                  $('.toggle-news-types').addClass('label-default');
                  $(this).addClass('label-primary');
                  $('.media.video').addClass('hidden');
                  $('.media.blog').removeClass('hidden');
          ">Блог</span>
          <span class="toggle-news-types label label-default" onclick="
                  $('.toggle-news-types').removeClass('label-default');
                  $('.toggle-news-types').removeClass('label-primary');
                  $('.toggle-news-types').addClass('label-default');
                  $(this).addClass('label-primary');
                  $('.media.video').removeClass('hidden');
                  $('.media.blog').addClass('hidden');
          ">Видео</span>
        </div>
        <div class="panel-body">
          <% @news.each do |news| %>
          <div class="media <%= news.news_type_title %>" <% if news.news_type == 1 %>  data-toggle="modal" data-target="#video" <% end %>>
            <% if news.news_type == 0 %>
                <% if news.image.exists? %>
                <%= link_to (image_tag (news.image.url(:thumb))), news, :class => 'pull-left' %>
                <% end %>

                <div class="media-body">
                  <h5 class="media-heading"><%= link_to news.title, news %></h5>
                  <%= news.description %>
                </div>
            <% elsif news.news_type == 1 %>

                <div class="media-body">
                  <h5 class="media-heading"><a href="#" onclick="$('#video_iframe').attr({src: '<%= news.youtube_url %>'}); $('#video_title').html('<%= news.title %>');"><%= news.title %></a></h5>
                </div>
                <a class="pull-left" onclick="$('#video_iframe').attr({src: '<%= news.youtube_url %>'}); $('#video_title').html('<%= news.title %>');">
                  <span class="glyphicon glyphicon-play"></span>
                  <%= image_tag (news.image.url(:medium)) %>
                </a>

            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="video_title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button" onclick="$('#video_iframe').get(0).stopVideo();">×</button>
          <h4 id="video_title" class="modal-title"></h4>
        </div>
        <div class="modal-body">

          <iframe id="video_iframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
        </div>
        <!--
        <div class="modal-footer">



          Комментарии к видео



        </div> -->
      </div><!-- /.modal-content -->
    </div>
  </div>


