<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БСК – <%= content_for?(:title) ? yield(:title) : "Магазин стройматериалов, инструмента и оборудования. Оптовые поставки." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Компания «БСК» поставщик профессиональных продуктов строительного назначения в России." %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "крепеж, метизы, крепеж купить, метизы купить, крепеж оптом, метизы оптом, поставки крепежа, пена, герметики, оснастка, антисептики, инструмент, перфорация,метизы, саморезы, шурупы, гайки, крепеж, гвозди, болты, заклепки, такелаж, скоба, дюбели, анкера, инженерная сантехника, трубы, фитинг, канализация, смеситель, инструмент, кабель, провод, дверная фурнитура, оконная фурнитура, мебельная фурнитура, лестницы, стремянки, alumet" %>">
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

  <div class="main-wrapper">

  <nav class="navbar navbar-inverse" role="navigation"> <!-- navbar-fixed-top -->
    <div class="container header">
      <div class="navbar-header" style="height: 64px;">
        <div class="row">
          <!-- Логотип -->
          <div class="col-xs-3 .col-sm-2 col-md-3">
            <%= link_to store_url do %>
                <%= image_tag('logo.png') %>
            <% end %>
          </div>
          <!-- Поиск -->
          <div class="col-xs-4 .col-sm-1 col-md-4">



            <div class="dropdown search">
              <span class="input-group-btn">
                <div class="glyphicon glyphicon-search" type="button"></div>
              </span>
              <input type="text" class="form-control" onkeyup="search_top(this.value)" value="<% if @query.present? %><%= @query.delete('\"') %><% end %>">

              <div class="panel panel-default dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 100%">
                <!-- Table -->
                <table class="table table-striped table-hover">
                  <tbody id="search_top_result">
                  <tr>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>3</td>
                  </tr>
                  </tbody>
                </table>
                    <b class="total-found hidden" style="padding-left: 25px;">Найдено: </b>
                <div id="hidden_search_top_result" class="hidden"></div>

              </div>

            </div>

          </div>
          <!-- Контакты -->
          <div class="col-xs-5 .col-sm-7 col-md-5">
            <div class="header-info">
              <div class="header-info-phone">
                <span style="font-size: small">+7 (</span><span class="header-phone-code">812</span><span style="font-size: small">)</span>
                <span class="header-phone-number">244-87-53</span>
                <div class="clear"></div>
                <span class="right">пн-пт, с 10:00 до 18:00</span>
              </div>
              <div class="header-info-email">
                <a href="mailto:order@bsc-ltd.ru">order@bsc-ltd.ru</a> <br>
                <%= link_to 'Контакты', '/contacts' %>
              </div>
              <div class="header-info-social">
                <a href="https://facebook.com" class="btn-round-xs ico-facebook"></a>
                <a href="https://vk.com/bscltd" class="btn-round-xs ico-vk"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <nav class="navbar navbar-default" role="navigation">

        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header-menu">
            <%= link_to 'О компании', '/about', :class => 'navbar-brand' %>

            <%= link_to 'Доставка', '/delivery', :class => 'navbar-brand' %>

            <%= link_to 'Оплата', '/payment', :class => 'navbar-brand' %>

            <%= link_to 'Каталог', '/catalogs', :class => 'navbar-brand' %>

            <%#= link_to 'Прайс-лист', '/price-list', :class => 'navbar-brand' %>

            <a class="navbar-brand right notdecoration hidden" data-toggle="modal" data-target="#bascet" id="button_cart">
                                <span class="dotted cart-link-menu">Корзина</span>
              <span class="label label-success count-cart"></span>
            </a>

            <a type="button" id="button_compare_list" class="navbar-brand right notdecoration" data-container="body" data-toggle="popover"
               data-placement="bottom" data-content='<div id="compare-list"><%= render :partial => 'compares/compare_small', :object => @compare %></div>'>
                <span class="dotted compare-link-menu">Сравнения</span>
                <span class="label label-success count-compare"></span>
            </a>
            <%#= render :partial => 'compares/comparesmall', :collection => @compare %>


            <a id="login_link" class="navbar-brand right popover-top-link notdecoration" data-toggle="modal" data-target="#profileModal" >
                                <span class="dotted">
                                    Личный кабинет
                                </span>
            </a>
            <!--
            <a id="feedback" data-toggle="modal" data-target="#dialogModal" class="navbar-brand right popover-top-link feedback online notdecoration">
                                <span class="dotted">
                                    Задайте вопрос, мы в онлайне!
                                </span>
            </a>
            -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>


      <!-- dialogModal -->
      <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="dialogLabel">Задайте свой вопрос</h4>
            </div>
            <div class="modal-body">
              <p><input class="form-control input-sm" type="text" placeholder="Ваше имя"> </p>
              <p><input class="form-control input-sm" type="text" placeholder="Телефон"> </p>
              <p><input class="form-control input-sm" type="text" placeholder="Электронная почта"> </p>
              <p><textarea class="form-control" rows="5" placeholder="Что вы хотели узнать?"></textarea> </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
              <button type="button" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </div>
      </div>





    </div>
  </nav>




  <div class="container content">
        <%= yield %>
  </div> <!-- /container -->


  </div> <!-- main-wrappe -->

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <p class="copyright"><small>&copy; 2010 - 2015 ООО СитиСтройРесурс</small></p>
            <p>
            <ul class="nav navbar-nav" style="padding: 0px;">
              <li><%= link_to 'Вакансии', '/vacancy' %></li>
              <!--<li><%= link_to 'Карта сайта', '/sitemap' %></li>-->
              <li><%= link_to 'Гарантия и сервис', '/service' %></li>
              <li><%= link_to 'Возврат товара', '/return' %></li>
              <!--<li><%= link_to 'Кредит', '/credit' %></li>-->
            </ul>
            </p>
          </div>
          <div class="col-md-3 col-xs-3">
            <p>
              <small>Принимаем к оплате</small>
            </p>
            <p>
              <%= image_tag('payment.png') %>
            </p>

            <a href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://market.yandex.ru/shop/273204/reviews"><img src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2507/*https://grade.market.yandex.ru/?id=273204&action=image&size=2" border="0" width="150" height="101" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" /></a>
          </div>
          <div class="col-md-3 col-xs-3">
            <address>
              <strong><%= link_to 'Контакты', '/contacts' %></strong><br>
              197183, Санкт-Петербург<br>
              ул. Сабировская, 41 <br>
              <abbr title="Телефон">Тел:</abbr> <span class="ya-phone">244-87-53</span>
            </address>
          </div>
        </div>
      </div>
    </div>

  <div class="alert alert-success hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="alert-content">

    </p>
  </div>
  <div class="alert alert-info hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="alert-content">

    </p>
  </div>
  <div class="alert alert-warning hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="alert-content">

    </p>
  </div>
  <div class="alert alert-danger hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="alert-content">

    </p>
  </div>

  <div class="modal fade bs-example-modal-lgbs-example-modal-lg" id="bascet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <% if @cart.present? %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%=render :partial => 'carts/cart', :object => @cart %>
            <% end %>
        <% end %>

        <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

    <% if @compare.present? %>
            <script>
              changeCountCompare(<%= @compare.compare_items.size %>);
            </script>
    <% end %>

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <% if user_signed_in? %>
                <span>Здравствуйте, <%= current_user.name.present? ? current_user.name : current_user.email %></span> <br>
                <%= link_to "Отредактируйте свои данные", controller: "users", action: "edit", id: current_user.id %> <br>
                <%= link_to "Ваши заказы", controller: "users", action: "orders", id: current_user.id %> <br><br>
                <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= render 'devise/menu/login' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <div id="addToBascet" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="mySmallModalLabel" class="modal-title">Добавить в корзину</h4>
        </div>
        <div class="modal-body">

          <div class="thumbnail">
            <div class="cart-img">
              <%= image_tag('/images/thumb/missing.png', :alt => '', :class => 'modal-product-image') %>
            </div>
            <div class="caption">
              <a href="javascript: void(0)" class="modal-product-title">Бензопила HUSQVARNA 460-15</a>
              <p class="modal-product-article">арт. 9650311-15</p>
              <p style="white-space: nowrap">
                <span class="price model-product-price" style="white-space: nowrap">17 300<span class="ruble">a</span></span>
              </p>
              <div class="clear"></div>
              <p>
                Количество
                <input class="form-control input-sm model-product-quantity" type="text" placeholder="Количество" value="1">
              </p>
              <p>
                <button type="button" class="btn btn-info" onclick="addToBascet();" style="width: 100%;" >Добавить</button>
              </p>

              <p class="model-product-quantity-out-of-stock">

              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>



  <script>

      $('[data-toggle=popover]').each(function () {
          $(this).popover({
              'trigger':'click',
              'html': true,
              'animation': true
          });
      });

      $('body').on('click', function (e) {
          $('[data-toggle=popover]').each(function () {
              if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                  $(this).popover('hide');
              }
          });
      });
  </script>

    <!-- Yandex.Metrika counter -->
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
    <script type="text/javascript">
        try { var yaCounter18292831 = new Ya.Metrika({id:18292831,
            webvisor:true,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true});
        } catch(e) { }
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/18292831" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  <%= render :template => "layouts/view-toggle" %>

<% if notice %>
      <script>
          message('info', '<%= notice %>');
      </script>
  <% end %>

  </body>
</html>
